/* Our stylesheet */

.axis path,
.axis line {
  fill: none;
}

.y.axis path {
  display: none;
}

.y.axis line {
  stroke: #ccc;
  stroke-width: 1px;
}

.axis text {
  font-family: 'arial', sans-serif;
  fill: #777;
  font-size: 12px; 
}

/*.y.axis g:first-child text { display: none; }*/

/* dot colors */
/* These are pretty horrible we should consider others */
/* Reminds me of the Joker from the 70s batman show */
.soda { fill: steelblue; }
.energydrink { fill: limegreen; }
.coffee { fill: brown; }
.tea { fill: crimson; }
.shots { fill: magenta; }

circle.dot { stroke-width: 1px; stroke: white; }
circle.active { stroke: black; }