html {font-family: 'helvetica', sans-serif;}

/* Our stylesheet */
.axis path,
.axis line {
  fill: none;
}

.y.axis path { display: none; }

.y.axis line {
  stroke: #ccc;
  stroke-width: 1px;
}

.axis text {
  font-family: 'helvetica', sans-serif;
  fill: #777;
  font-size: 12px; 
}

/* dot colors */
/* These are pretty horrible we should consider others */
/* Reminds me of the Joker from the 70s batman show */
.soda { fill: #498cb2; }
.energydrink { fill: #cbb645; }
.shots { fill: #bb5672; }

circle.dot { stroke-width: 1px; stroke: white; }

circle.active { stroke: black; }

/* Tooltip styles */
#tooltip {
	position: absolute;
	z-index: 10;
	visibility: hidden;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, .8);
  border: 1px solid #777;
  pointer-events: none;
  font-family: 'helvetica', sans-serif; 
  font-size: 14px; 
}

#tooltip p { margin: 0 0 5px; }

#tooltip p:first-child { 
	font-size: 16px; 
	font-weight: bold; 
}

#tooltip span { font-weight: bold; }

.key p {float:left; margin-right:20px;}
.key span.item {display:inline-block; border-radius: 50%; width: 15px; height: 15px; }
.key .soda { background-color: #498cb2; }
.key .energydrink { background-color: #cbb645; }
.key .shots { background-color: #bb5672; }


.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

